/* ------------------------ */
/* Global */
/* ------------------------ */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #313131;
    font-size: 18px;
    font-weight: 500;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
}

/* ------------------------ */
/* Container, Row and Grid */
/* ------------------------ */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1210px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.col-4 {
    width: 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 20px;
}

.col-3 {
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 20px;
}

/* ------------------------ */
/* Spacing Utilities */
/* ------------------------ */

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}

/* ------------------------ */
/* Flex */
/* ------------------------ */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* ------------------------ */
/* Text Utilities */
/* ------------------------ */

.text-center {
    text-align: center;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-primary {
    color: #49ad09;
}

.font-weight-normal {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: bold;
}

/* ------------------------ */
/* Buttons */
/* ------------------------ */

.btn {
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 0.85rem 2rem;
    border: 1px solid transparent;
    background-color: transparent;
    transition: 0.3s ease all;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
        0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
        0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.btn-primary {
    background-color: #49ad09;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4d9f18;
}

.btn-outline {
    color: #313131;
    box-shadow: none;
    border-color: #313131;
    background-color: transparent;
}

.btn-outline:hover {
    color: #fff;
    border-color: #49ad09;
    background-color: #49ad09;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
        0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
        0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

/* ------------------------ */
/* Header */
/* ------------------------ */

.header {
    position: absolute;
    inset: 0 0 auto;
    padding: 30px 0;
}

/* ------------------------ */
/* Navigation */
/* ------------------------ */

.nav__item {
    margin-right: 45px;
}

.nav__link:not(.btn):hover {
    color: #49ad09;
}

.nav__item:last-child {
    margin-right: 0;
}

/* ------------------------ */
/* Section Title */
/* ------------------------ */
.section-title {
    margin: 140px 0 65px 0;
}

.section-title__text {
    font-size: 2.8125rem;
    margin-top: 1.5625rem;
}

/* ------------------------ */
/* Section CTA */
/* ------------------------ */
.section-cta {
    margin: 40px 0 0;
}

.section-cta .btn {
    width: 225px;
}

/* ------------------------ */
/* Hero Section */
/* ------------------------ */

.hero {
    height: 100vh;
    background: url("../images/banner.jpg") no-repeat center center/cover;
}

.hero-content {
    max-width: 520px;
}

.hero-content__title {
    font-size: 4.875rem;
    line-height: 1.1;
    font-weight: bold;
    letter-spacing: -0.2rem;
}

.hero-content__desc {
    margin: 2.5rem 0 3.75rem;
}

.hero-content__cta .btn {
    width: 225px;
    margin-right: 2rem;
}
/* ------------------------ */
/* Logos Section */
/* ------------------------ */

.logos-wrapper {
    padding: 76px 0;
}

.item-logo {
    display: inline-block;
}

/* ------------------------ */
/* Specialization Section */
/* ------------------------ */

.our-special__grid {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.our-special__grid .row {
    margin: 0 -20px;
}

.card {
    border-radius: 5px;
    margin-bottom: 2.5rem;
    padding: 2.5rem 1.875rem;
    border: 1px solid #ededed;
    transition: 0.25s ease all;
}

.card:hover {
    background: #ffffff;
    border-color: transparent;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}

.card-title__image {
    margin-right: 15px;
}

.card-desc__text {
    margin: 30px 0;
}

.card-desc__link:hover {
    color: #49ad09;
}

/* ------------------------ */
/* Portfolio Section */
/* ------------------------ */

.our-portfolio__grid {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.our-portfolio__grid .col-6:last-child {
    margin: 55px 0 35px 0;
}

.portfolio-card {
    margin-bottom: 60px;
}

.portfolio-card__desc {
    margin-top: 25px;
}

.portfolio-card__link,
.portfolio-card__link:hover {
    color: #49ad09;
}

/* ------------------------ */
/* Testimonials Section */
/* ------------------------ */

.testimonial__wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 70px;
}

#testimonial-slider {
    padding: 15px 0;
}

.testimonial__wrap:after {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    margin: auto;
    width: 892px;
    height: 540px;
    z-index: -1;
    background-color: #f2f2f2;
}

.testimonial__wrap .row {
    margin: 0 -10px;
}

.testi-item {
    padding: 0 10px;
}

.testi-item__inner {
    border-radius: 5px;
    background-color: #fff;
    padding: 40px 25px 35px 30px;
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.1);
}

.testi-item__rating {
    width: 95px;
    height: 18px;
    margin-bottom: 20px;
    background: url("../images/rating.svg") repeat-x left center/contain;
}

.testi-item__heading,
.test-item__user {
    color: #32435c;
    font-size: 14px;
    font-weight: 600;
}

.testi-item__content {
    margin: 20px 0;
    color: #93979e;
    font-size: 16px;
    font-weight: normal;
}

.testimonial__control {
    width: 120px;
    height: 66px;
    padding: 0 8px;
    border-radius: 50px;
    margin: 35px auto 0;
    background-color: #fff;
}

.testimonial__control--btn {
    display: inline-flex;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    transition: 0.25s ease all;
    background-color: transparent;
}

.testimonial__control--btn .icon {
    width: 30px;
    margin: auto;
    stroke: #313131;
    transition: 0.25s ease all;
}

.testimonial__control--btn:hover {
    background-color: #313131;
}

.testimonial__control--btn:hover .icon {
    stroke: #fff;
}

/* ------------------------ */
/* Pricing Section */
/* ------------------------ */
.our-pricing__grid .row {
    margin-left: -20px;
    margin-right: -20px;
}

.our-pricing__grid .card {
    padding: 50px 30px;
    min-height: 510px;
    margin-bottom: 0;
}

/* ------------------------ */
/* Pricing Card Design */
/* ------------------------ */

.card-heading {
    font-size: 1.875rem;
    font-weight: 500;
}

.card-price {
    font-size: 3.75rem;
    font-weight: 600;
}

.card-listing__item {
    position: relative;
    font-size: 16px;
    margin-top: 15px;
    padding-left: 28px;
}

.card-listing__item:before {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAZNJREFUSEu9lYtNw0AMhu0uABsAE3CXBYANygR0A+gEtBNQJgAmoEwAE8TuBukG7QI1cnSJLpdrcgkqkSJFiu///Dob4cQPnlgfegHGmNlkMrkREQMA+urDiMiHw2HNzF9dTh4FGGOmiPgCAJc9URYiMmfmdcwuCsiybCUij0PSJyIrZp6HZ1qAMeKVKCK+5nn+5EMaAJeWzyGeh7Yicu+nqwGw1hYAcPEXAAAURHRVR1V9aLcg4tsA8T0iaq2eu6KoI7DWvgPAQyJgLyK3zMxZli0ikA8imqmWD2AAuE4A1OLGGIOI3wBwHpxjIrIhQFothrgUEe2KM/cvRbw0JaLSeT+CBgARl3meL5yXP2pcpaXD89rHGCBM0U5E7jTPKljOB/d9JC1+AjZEVJ7pK3INUeMUzx2lXeSOS1ZCSm/iBW31hX/ZUi/azqmE3RJrui0R1QPyf0eFunPSYVfFOwYSm6SNLgqT6Yq+Shh+W72MgxaOD3OgqVuX1SjZ6LUQEV2Z0U3WmqYJM2iUSe/SH6XqHfoFSZHiGX1G8qgAAAAASUVORK5CYII=")
        no-repeat center center/cover;
}

.card-listing__item + .card-listing__item {
    margin-top: 10px;
}

.card-action {
    margin-top: 20px;
    align-self: flex-end;
}

.card-action .btn {
    width: 225px;
}

/* ------------------------ */
/* Footer */
/* ------------------------ */

.footer {
    margin-top: 125px;
}

.footer .row {
    margin-left: -20px;
    margin-right: -20px;
}

.footer-column {
    width: 22%;
    flex: 0 0 22%;
    padding: 0 20px;
}

.footer-column:first-child {
    width: 34%;
    flex: 0 0 34%;
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer-logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.footer-logo__desc {
    width: 210px;
    max-width: 100%;
    font-size: 16px;
}

/* ------------------------ */
/* Footer Social Icons */
/* ------------------------ */

.footer-social {
    margin-top: 60px;
}

.footer-social__icon {
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 4px;
    background-color: #f2f2f2;
    transition: 0.25s ease all;
}

.footer-social__icon + .footer-social__icon {
    margin-left: 15px;
}

.footer-social__icon .icon {
    fill: #313131;
    transition: 0.25s ease all;
}

.footer-social__icon:hover {
    background-color: #49ad09;
}

.footer-social__icon:hover .icon {
    fill: #fff;
}

/* ------------------------ */
/* Footer List Items */
/* ------------------------ */

.footer-list__item {
    margin-bottom: 20px;
}

.footer-list__item:last-child {
    margin-bottom: 0;
}

.footer-list__item-link {
    font-size: 16px;
    transition: 0.25s ease all;
}

.footer-list__item-link:hover {
    color: #49ad09;
    text-decoration: underline;
}

/* ------------------------ */
/* Footer Subscribe Form */
/* ------------------------ */

.footer-form {
    width: 174px;
    max-width: 100%;
    position: relative;
}

.footer-form__input {
    border: none;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.footer-form__btn {
    position: absolute;
    top: 50%;
    right: 12px;
    box-shadow: none;
    transform: translateY(-50%);
    background-color: transparent;
}

.footer-form__btn .icon {
    opacity: 0.8;
    fill: inherit;
    display: block;
}

/* ------------------------ */
/* Footer Bottom */
/* ------------------------ */

.footer-bottom {
    padding: 40px 0;
    margin-top: 70px;
    border-top: 1px solid #ededed;
}

.copyright-text {
    font-size: 16px;
}
